*{
    text-align: center;
    overflow-x: hidden;
}

.wrapper{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    text-align: center;
    grid-gap: 1em;
    width: 100vw;
    height: 70vh;
}

.art-titles{
    padding: 1vw;
    font-size: 15px;
    font-weight: 800;
}

.art-titles h2{
    font-weight: 500;
}

.art-titles h3{
    font-weight: 300;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-img{
    max-width: 100%;
    max-height: 100%;
}

.button-cursor{
    cursor: pointer;
}

.loading{
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.welcome{
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh; 
}

.next-section{
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 850px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-container{
        height: 50vh;
    }

    .art-img{
        max-width: 90%;
    }
}