body{
    text-align: center;
}

.wrapper{
    margin: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

.art-titles{
    font-size: 15px;
    font-weight: 800;
}

.art-titles h2{
    font-weight: 500;
}

.art-titles h3{
    font-weight: 300;
}

.image-container{
    width: 50vw;
    height: 50vh;
}

.art-img{
    padding: 10px;
    max-width: 90%;
    max-height: 90%;
}

.next-button{
    cursor: pointer;
    margin-top: 0px
}

.begin-button{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        grid-template-columns: 100%;
    }

    .image-container{
        margin: 0 auto;
    }

    .art-titles{
        text-align: left;
    }

}