.infoBtn{
    cursor: pointer;
}

.headerStyles{
    width: 100vw;
    height: 5vh;
    display: flex;
    padding-left: 1vw;
    align-items: center;
}

.creditList{
    list-style: none;
    padding-left: 50px;
}

.creditList a{
    text-decoration: none;
}

.gitIco{
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    color: black;
}

